@charset "utf-8";
.moreBtn{
	border-radius: 10px;
	height: 20px;
	margin-top: 10px;
	border-style: none;
	color: #eee;
	background-color: rgba(0,153,204,1);
	outline: none;
	font-family: Helvetica, sans-serif, Arial;
	font-size: 13px;
	font-weight: lighter;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	float: left;
	width: auto;
	line-height: 20px;
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;

	margin: 0;
	padding: 0;
	color: #000;
}

.header1{
	height: 650px;
	width: 100%;
	background-color: rgba(0,0,0,1);
	background-repeat: no-repeat;
	background-position: center center;
}
.milnt{height: 600px;
	width: 100%;}
.mont{
	height: 600px;
	width: 100%;
	background-color: rgba(0,0,102,1);
	color: rgba(255,255,255,1);
	background-image: url(../img/1softwar.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}.gets{
	height: 600px;
	width: 100%;
	color: rgba(255,255,255,1);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/photo-1459184070881-58235578f004.jpg);
}
.support{height: 600px;
	width: 100%;}
.getInTouch{
	height: 600px;
	width: 100%;
}
.futer{
	height: 300px;
	width: 100%;
	background-color: rgba(50,50,50,1);
}
#shade{
	background-color: rgba(0,0,0,0.8);
	float: left;
	height: 100%;
	width: 100%;
}








#contact-form {
	margin-bottom: 0;	
}

#contact-form p {
	margin-bottom: 1px;	
}

#contact-form input,
#contact-form textarea {
    border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    border-radius: 0;
	
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	background: #26292E;
    color: #FFFFFF;
    font-size: 16px;
    height: auto;
    padding: 15px;
	margin: 0;
	
    resize: none;
}

#contact-form input {
    width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#contact-form textarea {
    width: 100%;
	resize: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#contact-form .submit {
    background: #3C3F45;
    color: #23262C;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
	margin-top: 30px;
	
	-webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;	
	   -moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		 -o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		    transition: background 0.1s linear 0s, color 0.1s linear 0s;
}

#contact-form .submit:hover {
    background: #DE5E60;
    color: #FFFFFF;
}

#response {
	margin-top: 20px;
	color: #FFFFFF;
}





/* ==================================================
   Contact Section
================================================== */

.contact-details h3 {
	color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
	line-height: 1em;
    text-transform: uppercase;
}

.contact-details ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}

.contact-details ul li {
	margin: 0 0 20px;
	line-height: 28px;
	padding: 0;	
}










.row{margin-left:0px;*zoom:1}.row:before,.row:after{display:table;line-height:0;content:""}.row:after{clear:both}.span9{
	width: 870px;
	float: left;
}






.span3{
	width: 270px;
	float: right;
}







@font-face {
 font-family:SourceSansPro-Light;
 src: url(../fonts/SourceSansPro-Light.ttf); /* TTF file for CSS3 browsers */
}

@font-face {
 font-family:Exo-Light;
 src: url(../fonts/Exo-Light.otf); /* TTF file for CSS3 browsers */
}

@font-face {
 font-family:Existence-Light;
 src: url(../fonts/Existence-Light.otf); /* EOT file for IE */
}
@font-face {
 font-family:Vanadine;
 src: url(../fonts/Vanadine.ttf); /* TTF file for CSS3 browsers */
}

.title-page {
	text-align: center;
	margin-bottom: 100px;
	font-family: SourceSansPro-Light;
	font-weight: lighter;
	text-decoration: none;
}

.title-page .title {
	font-size: 48px;
	margin: 0 0 10px 0
}




#centIt{
	text-align: center;
}
.subFot{
	background-color: #000;
	height: auto;
	width: 100%;
	color: #999;
	font-family: Helvetica, sans-serif, Arial;
	font-size: 13px;
	font-weight: lighter;
	text-decoration: none;
	line-height: 40px;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
#slide_Contrls{
	background-color: rgba(0,0,0,0.6);
	height: 45px;
	width: 100%;
	position: absolute;
	top: 605px;
}






.t_panel {
	background-color: #000;
	height: 35px;
	width: 100%;
	top: 0px;
	float: right;
}

.search_container{background-color: transparent;float: right;height: 24px;width: 250px;margin-top: 3px;margin-right: 6%;
	border-radius: 20px;overflow: hidden;border: 1px solid #555;}
.searchBtn{background-color: transparent;
	height: 24px;width: 26px;border-style: none;float: left;
	margin-top: 0px;cursor: pointer;background-image: url(../img/SearchIcon1.png);background-repeat: no-repeat;
	background-position: 2px 1px;z-index: 200;}
	
	.search_input{
	float: left;
	height: 24px;
	width: 214px;
	padding-left: 10px;
	background-color: transparent;
	padding-right: 10px;
	color: #777;
	outline: none;
	border-style: none;
} 
	
.search_input:visited {
	border-style: none;
}
 .search_input:active, .search_input:focus {
	border-style: none;
}	 
  
.m_logo {
	float: left;
	height: auto;
	width: auto;
	margin-left: 7%;
	font-weight: lighter;
	color: #FFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 25px;
} 

a:link {
	color:#414958;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
.m_logo a:visited {
	text-decoration: none;
	color: rgba(255,255,255,1);
	font-weight: lighter;
}
.m_logo a:hover, a:active, a:focus {
	text-decoration: none;color: rgba(255,0,0,1);
}


#logoText{
	font-family: exo-Light;
	font-size: 24px;
	line-height: 35px;
	text-decoration: none;
	
	}	
.pageTop {
	height: auto;
	width: 100%;
	float: left;
	z-index: 200;
	position: fixed;
	top: 0px;
	border-style: none;
	text-decoration: none;
}




.jssorb05{position:absolute}.jssorb05 div,.jssorb05 div:hover,.jssorb05 .av{position:absolute;width:16px;height:16px;background:url('img/b05.png') no-repeat;overflow:hidden;cursor:pointer}.jssorb05 div{background-position:-7px -7px}.jssorb05 div:hover,.jssorb05 .av:hover{background-position:-37px -7px}.jssorb05 .av{background-position:-67px -7px}.jssorb05 .dn,.jssorb05 .dn:hover{background-position:-97px -7px}.jssora22l,.jssora22r{display:block;position:absolute;width:40px;height:58px;cursor:pointer;background:url('img/a22.png') center center no-repeat;overflow:hidden}.jssora22l{background-position:-10px -31px}.jssora22r{background-position:-70px -31px}.jssora22l:hover{background-position:-130px -31px}.jssora22r:hover{background-position:-190px -31px}.jssora22l.jssora22ldn{background-position:-250px -31px}.jssora22r.jssora22rdn{background-position:-310px -31px}






.thinHeads{
	font-family: SourceSansPro-Light;
	font-size: 25px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-style: normal;
	margin-bottom: 30px;
	height: auto;
	margin-top: 0px;
	text-indent: 20%;
}

ul.bottomLix {
	list-style: none; /* this creates the space between the navigation on the content below */
	font-size: 13px;
	font-weight: lighter;
	text-decoration: none;
	font-family: Helvetica, sans-serif, Arial;
}
ul.bottomLix li {
	margin-bottom: 15px;
	text-indent: 12%;
	 /* this creates the button separation */
}
ul.bottomLix a, ul.bottomLix a:visited {
	text-decoration: none;
	color: #000;
}
ul.bottomLix a:hover, ul.bottomLix a:active, ul.bottomLix a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	color: rgba(0,153,204,1);
}

#fotCol1{
	float: left;
	width: 32.3%;
	margin-right: 1.5%;
}




#fotCol{
	float: left;
	width: 32.3%;
	text-align: justify;
}

#fotCol2{
	float: left;
	width: 32.3%;
	margin-right: 1.5%;
}


.soon{
	float: left;
	height: 100%;
	width: 32.3%;
	margin-right: 1.5%;
}
#movie1{
	background-color: #000;
	height: 250px;
	width: 100%;
	margin-bottom: 20px;
	background-image: url(../img/item8.png);
	background-repeat: no-repeat;
	background-position: center center;
} #movie2{
	background-color: #000;
	height: 250px;
	width: 100%;
	background-image: url(../img/item6.png);
	background-repeat: no-repeat;
	background-position: center center;
}


.submit1{
	float: left;
	width: 32.3%;
	margin-right: 1.5%;
}

.follwaz{
	float: left;
	width: 32.3%;
}




	
.Prod_identifier:hover{
	background-color: rgba(0,153,204,0.8);
	cursor: pointer;
	color: #FFF;
}	
.Prod_identifier{
	font-weight: lighter;
	color: #eee;
	text-decoration: none;
	text-align: center;
	float: left;
	height: 30px;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	font-family: Helvetica, sans-serif, Arial;
	font-size: 13px;
	padding-top: 0px;
	margin-top: 260px;
	vertical-align: middle;
	display: block;
	padding-bottom: 10px;
	line-height: 2px;
	}
#mRadio_col{
	float: left;
	height: 300px;
	width: 32.3%;
	margin-right: 1.5%;
	background-position: center center;
}



#fb_follwaz{
	color: #CCC;
	background-color: #06C;
	height: 250px;
	width: 100%;
	margin-bottom: 20px;
}

#pcAnti_col{
	float: left;
	height: 300px;
	width: 32.3%;
	background-repeat: no-repeat;
	background-position: center top;
	margin-right: 1.5%;
}



#montOs{
	float: left;
	height: 300px;
	width: 32.3%;
	background-repeat: repeat;
	background-position: center center;
	z-index: 5;
	margin-right: 1.5%;
}




  
.secndMenuBck {
	background-image: url(../img/mb.png);
	background-repeat: no-repeat;
	float: left;
	height: 25px;
	width: 100%;
	position: relative;
	background-position: right;
	border-style: none;
	padding-right: 100px;
}




.dwnload_btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: lighter;
	color: #09C;
	text-decoration: none;
	height: 40px;
	width: 120px;
	margin-left: 20px;
	cursor: pointer;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid rgba(0,204,204,1);
}



#miscell_col{
	float: left;
	height: 300px;
	width: 32.3%;
	background-repeat: no-repeat;
	background-position: center top;
}


#mTV_col{
	float: left;
	height: 300px;
	width: 32.3%;
	margin-right: 1.5%;
	background-image: url(slider_one.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

.nowPlaying{
	background-color: rgba(0,0,51,0.3);
	float: left;
	height: 250px;
	width: 100%;
	background-image: url(../img/img1.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
	margin-top: 40px;
	color: rgba(55,130,210,1);
}
